<!DOCTYPE html>
<html>
  <head>
    <title>HireAway2</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <%= yield %>

    <%= content_tag :div,
      id: "app",
      data: {
        message: "Hello!",
        name: "David"
      }.to_json do %>
    <% end %>

  </body>
</html>
